<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password</title>
  </head>
  <body>
    <p>Hi {{username}},</p>
    <p>
      You requested a password reset for your account. Please follow this link
      to set a new password:
    </p>
    <p><a href="{{email_confirmaton_link}}">Password reset</a></p>
    <p>The link is valid for the next {{email_token_hours_to_expire}} hours.</p>
    <p>If you didn't request a password reset, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Invest Tracker Team</p>
  </body>
</html>
